.main {
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.main .working {
  width: 100%;
  text-align: center;
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10% 5% 5% 5%;
}

.main .working h1 {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #ffffff;
  margin-top: 4%;
}

.main .working p {
  width: 48%;
  font-size: 15px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
}

.main .working img {
  margin-top: 15%;
}

.main .about {
  width: 100%;
  text-align: center;
  padding: 8% 0;
}

.main .about h2 {
  width: 25%;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #ffffff;
  position: relative;
  top: 20px;
  margin: 0 auto;
  color: #3c3c3c;
}

.main .about__us {
  width: 60%;
  border: 3px solid #262626;
  padding: 2% 12.5%;
  margin: 0 auto;
}

.main .about__us p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: #3c3c3c;
  margin-top: 5%;
}

.main .services {
  width: 100%;
  text-align: center;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 0;
}

.main .services h2 {
  width: 25%;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: inherit;
  position: relative;
  top: 20px;
  margin: 0 auto;
  background-image: inherit;
  color: #ffffff;
}

.main .services p {
  width: 60%;
  border: 3px solid #ffffff;
  padding: 3% 0 2% 0;
  margin: 0 auto;
  color: #ffffff;
}

.main .what {
  width: 100%;
  text-align: center;
  padding: 5%;
}

.main .what h2 {
  width: 25%;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #ffffff;
  position: relative;
  top: 20px;
  margin: 0 auto;
  color: #3c3c3c;
}

.main .what__text {
  width: 60%;
  border: 3px solid #262626;
  padding: 2% 0;
  margin: 0 auto;
  padding-bottom: 5%;
}

.main .what__text img {
  margin: 10% 0 3% 0;
}

.main .what__text h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3c3c3c;
}

.main .what__text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  color: #3c3c3c;
  margin-top: 3%;
}

.main .works {
  width: 100%;
}

.main .works__line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .works__line h2 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}

.main .works__line_topworkz {
  width: 30%;
  background-image: url("../images/topworkz.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}

.main .works__line_joint {
  width: 39%;
  background-image: url("../images/joint.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}

.main .works__line_market {
  width: 30%;
  background-image: url("../images/market.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}

.main .works__line_worktop {
  width: 30%;
  background-image: url("../images/worktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}

.main .works__line_lable {
  width: 39%;
  background-image: url("../images/lable.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}

.main .works__line_kyiv {
  width: 30%;
  background-image: url("../images/kyiv.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: left;
  padding: 10% 0 1.5% 1.5%;
  margin-top: 0.5%;
}
/*# sourceMappingURL=style.css.map */